* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(/img/blue-background.jpg);
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 35px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li a {
    color: black;
    font-size: 20px;
    margin-left: 70px;
}

nav ul li a:hover {
    color: white;
    background-color: rgb(0, 63, 127);
    border-radius: 15px;
    padding: 8px 10px;
    transition:.3s ease; 
}

.main-page {
    padding: 300px 10%;
}

.title {
    font-size: 70px;
    font-weight: bold;
    color: white
}

h3 {
    font-size: 35px;
    color: rgb(0, 63, 127)
}

p {
    margin-top: 10px;
    color: black;
    width: 600px;
    font-size: 20px;
} 

button {
    margin-top: 20px;
    font-size: 25px;
    width: 10%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: white;
    transition: .3s;
}

.b {
    margin-left: 40px;
}
button:hover {
    color: white;
    background-color: rgb(0, 63, 127);
    padding: 10px 10px;
}